.multi-nav {
  display: flex;
  width: 100%;
}
.FirstSubNav {
  width: 150px;
}
.NavSecond:hover
  .option-one
  > .MainSubNav
  > .FirstSubNavContainer
  .FirstSubNav {
  color: red;
  display: block;
}
.NavSecond:hover
  .option-two
  > .MainSubNav
  > .FirstSubNavContainer
  .FirstSubNav {
  color: red;
  display: block;
}

.NavSecond .option-one > .MainSubNav > .FirstSubNavContainer .FirstSubNav {
  display: none;
}

.NavSecond .option-two > .MainSubNav > .FirstSubNavContainer .FirstSubNav {
  display: none;
}

.NavSecond .option-one .SecondSubNav {
  display: none;
}

.NavSecond .option-two .SecondSubNav {
  display: none;
}

.NavSecond .option-one:hover .SecondSubNav {
  color: green;
  display: block;
}

.NavSecond .option-two:hover .SecondSubNav {
  color: green;
  display: block;
}

li {
  list-style-type: none;
  margin: 4px;
}

.option-one .SecondSubNav {
  position: absolute;
  top: 11%;
  left: 11%;
}
.option-two .SecondSubNav {
  position: absolute;
  top: 22%;
  left: 11%;
}
